@import "../node_modules/bootstrap/scss/bootstrap";

.navbar {
  -webkit-box-shadow: 0 8px 6px 6px #000;
  -moz-box-shadow: 0 8px 6px 6px #000;
  box-shadow: 0 8px 6px 6px #000;
  height: 6vh;
}

.main-content {
  height: 95vh;
}
.small .react-colorful {
  width: 120px;
  height: 120px;
}
